body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #eaeaea;
    margin: 0;
    padding: 0;
}

#game {
    max-width: 400px;
    margin: 20px auto;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
    margin-bottom: 20px;
    border: 1px solid #000;
}

.cell {
    width: 20px;
    height: 20px;
}

.snake-head {
    border-radius: 50%;
}

.snake {
    border-radius: 50%;
}

.food {
    border-radius: 50%;
}

#controls {
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

#score {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
